.details {
  font-family: var(--secondary-font);
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0px 10px 0 #9b9ac573;
  color: black;
  backdrop-filter: blur(20px);
  margin-top: 44px;
}

.eventImg {
  width: 100%;
  object-fit: cover;
  font-size: 32px;
  line-height: 36px;
  min-height: 275px;
  height: calc(100vh - 265px);
  border-radius: 20px;
}
.event_main_img {
  position: relative;
}

.category_main {
  position: absolute;
  bottom: 45px;
  left: 45px;
  background: #ef5da8;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
}

.category_main h5 {
  margin: 0;
  font-size: 18px;
}

.event_detail_content {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0;
}

.event_detail {
  padding-top: 215px;
}

.details h2 {
  font-size: 62px;
  font-weight: 700;
  line-height: 60px;
}

.event_detail_card .image_path {
  display: none;
}

.event_circle_img img {
  width: 104px;
  height: 104px;
  border-radius: 200px;
}

.event_detail_card {
  background: #ebeaff;
  padding: 30px 40px;
  border-radius: 30px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.event_circle_img {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.event_circle_img a {
  font-size: 28px;
  font-weight: 600;
  color: #7e79ff;
}

.event_circle_img p {
  font-size: 22px;
  margin-bottom: 0;
  color: #777777;
  margin-top: 4px;
}

.follow_div .follow_btn {
  margin-left: 0 !important;
  width: 100%;
}

.follow_div .follow_btn span {
  padding: 0px 48px;
  font-size: 16px;
}

.cart_description {
  margin-top: 50px;
  font-family: var(--primary-font);
}

.description_img {
  width: 32px;
  height: 32px;
}

.cart_description p {
  font-size: 28px;
  font-weight: 400;
  color: #777777;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.hashtags span {
  font-size: 18px;
  color: #000;
  padding: 0 30px;
  background: #e0dff9;
  border-radius: 100px;
  line-height: 50px;
}

.description_heading h2 {
  font-size: 48px;
  color: #000;
  margin-top: 57px;
}

.description {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-top: 20px;
  font-family: var(--primary-font);
}

.ticket_detail {
  text-align: center;
  font-family: var(--secondary-font);
}

.ticket_detail h3 {
  font-size: 48px;
  color: #000;
  font-weight: 600;
}

.ticket_detail p {
  font-size: 22px;
  color: #777777;
  margin-top: 25px;
}

.ticket_detail .ticket_text {
  font-size: 18px;
}

.LoadingBar {
  color: #7e79ff;
}

/* Filters */

.filterFrame {
  padding: 0;
  padding-top: 160px;
  max-width: 1740px;
  margin: 0 auto;
  font-family: var(--primary-font);
}

.filters {
  background: #fffffff5;
  box-shadow: 0 0px 10px 0 #9b9ac573;
  padding: 25px 35px;
  border-radius: 17px;
}

.filters h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.searchDiv {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.searchDiv input {
  width: 100%;
  height: 54px;
  border-radius: 100px;
  box-shadow: -4px 3px 10px 0 #9b9ac573;
  border: 1px solid #d8d8d8;
  padding: 0 40px;
  font-size: 18px;
  color: #aaaaaa;
}

.searchInput::placeholder {
  font-size: 18px;
  color: #aaaaaa;
}

.searchDiv button {
  background-color: #909090;
  width: 220px;
  height: 54px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 100px;
}

.searchDiv button:hover {
  background-color: #7c7c7c;
}

.eventList .eventsGrid {
  padding-top: 65px;
}

/* Main Filters */

.mainFilters {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.mainCheckbox {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.locationDiv {
  margin-top: 0;
}

.filters h2 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.mainCheckForm {
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  display: none;
}

label.checkboxTag {
  display: inline-block;
  background-color: #e5e8ee;
  color: #000;
  padding: 4px 12px;
  margin: 0.25rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
}

input[type="checkbox"]:checked + label.checkboxTag {
  background-color: #4a4a4a;
  color: #ffffff;
}

.dateRange {
  text-align: center;
}

.dateRange h2 {
  margin-bottom: 20px;
}

.dateFields {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
}

.dateFields p {
  margin: 0;
}

.dateFields input {
  height: 40px;
  width: 164px;
  border: 1px solid #ececed;
  padding: 0 10px;
  border-radius: 8px;
  color: #4f4b5c;
  font-size: 14px;
  font-weight: 600;
}

.dateFields p {
  color: #4f4b5c;
  font-size: 14px;
  font-weight: 600;
}

.locationFields h2 {
  margin-bottom: 0;
  text-align: center;
}

.locationInputs {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}

.locationInputs input,
select {
  height: 40px;
  width: 180px;
  border: none;
  outline: none;
  box-shadow: 0 2px 6px 0 #9b9ac573;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 14px;
  color: #110c22;
  font-weight: 600;
}

.locationInputs input {
  padding-left: 30px;
}

.locationSearch {
  position: relative;
}

.locationSearch img {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 8px;
  top: 11px;
}

.smallCheckbox[type="checkbox"] {
  position: relative;
  border: 2px solid #7357ff;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  opacity: 0.5;
  display: block;
}

.smallCheckbox[type="checkbox"]:checked {
  background-color: #7357ff;
  box-shadow: 0 0px 4px 0 #7357ff;
  opacity: 1;
}

.smallCheckbox[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

/* news-detail */
.newsDetailMainWrapper .details {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 44px;
  width: 95%;
}

.description_heading ul,
.description_heading div,
.description_heading a,
.description_heading img,
.description_heading p,
.description_heading h1,
.description_heading h2,
.description_heading h3,
.description_heading h4,
.description_heading h5,
.description_heading h6 {
  width: 100% !important;
  font-family: var(--primary-font) !important;
  line-height: 1.1 !important;
}

.description_heading img {
  border-radius: 20px !important;
}

.description_heading h1 {
  font-size: 50px !important;
}

.description_heading h2 {
  font-size: 40px !important;
}

.description_heading h3 {
  font-size: 28px !important;
}

.description_heading h4 {
  font-size: 22px !important;
}

.description_heading p {
  font-size: 22px !important;
}

/* news detail end */

@media (max-width: 1440px) {
  .details h2 {
    font-size: 42px;
    line-height: 47px;
  }

  .event_circle_img a {
    font-size: 24px;
  }

  .event_circle_img {
    gap: 15px;
  }
}

@media (max-width: 1300px) {
  .eventsGrid {
    grid-template-columns: 48% 48%;
  }
  .eventCard {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .eventsGrid {
    row-gap: 40px;
  }
  .event_detail_content .eventImg {
    height: calc(80vh - 215px);
  }
}

@media (max-width: 767px) {
  .eventsGrid {
    grid-template-columns: 100%;
  }

  .eventCard {
    width: 100%;
  }

  .event_detail {
    padding-top: 175px;
  }

  .details h2 {
    font-size: 30px;
    line-height: 38px;
  }

  .event_detail_card {
    padding: 20px 25px;
    margin-top: 25px;
  }

  .cart_description p {
    font-size: 24px;
  }

  .description_img {
    width: 28px;
    height: 28px;
  }

  .details {
    padding: 25px;
  }

  .category_main {
    bottom: 22px;
    left: 22px;
    padding: 7px 16px;
  }

  .newsDetailMainWrapper .category_main {
    bottom: 60px;
  }

  .category_main h5 {
    font-size: 14px;
  }

  .eventImg {
    height: calc(50vh - 215px);
  }

  .description_heading h2 {
    margin-top: 40px;
  }

  .ticket_detail h3 {
    font-size: 35px;
  }

  .filters {
    padding: 25px 20px;
  }

  .event_detail_content .eventImg {
    height: calc(70vh - 215px);
  }
}

@media (max-width: 480px) {
  .eventCard h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .eventImg {
    height: calc(50vh - 215px);
  }

  .eventCardDetails {
    padding: 20px 15px;
  }

  .ticketsFindMore {
    margin-top: 10px;
  }

  .eventCardDetails span.time img {
    width: 19px;
    margin-right: 3px;
    margin-left: 1px;
  }

  .remainingDaysBtn {
    background-color: #f0677f;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    border-radius: 30px;
    padding: 2px 10px;
    margin-left: 15px;
  }

  .eventCardDetails span.location img {
    margin-right: 0px;
    margin-left: 0;
    width: 22px;
  }

  .locationDiv {
    margin-top: 5px;
  }

  .eventCategoryButton {
    left: 15px;
  }

  /* .event_detail_content .eventImg {
    height: 250px;
  } */

  .details h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .description_heading p {
    font-size: 14px;
    line-height: 20px;
  }

  .event_circle_img img {
    width: 80px;
    height: 80px;
  }

  .details {
    margin-top: 25px;
  }

  .event_detail {
    padding-top: 180px;
  }

  .hashtags span {
    font-size: 16px;
    padding: 0 26px;
  }

  .cart_description p {
    font-size: 18px;
    gap: 10px;
  }

  .description_img {
    width: 22px;
    height: 22px;
  }

  .event_circle_img a {
    font-size: 22px;
  }

  .event_circle_img p {
    font-size: 18px;
  }

  .ticket_detail h3 {
    font-size: 24px;
  }

  .ticket_detailp {
    font-size: 22px;
    margin-top: 10px;
  }

  .cart_description {
    margin-top: 25px;
  }

  .dateFields,
  .locationInputs,
  .searchDiv {
    flex-direction: column;
  }

  .locationInputs input,
  select {
    width: 100%;
  }

  .locationSearch,
  .locationFields,
  .dateRange {
    width: 100%;
  }

  .dateFields input {
    width: 100%;
  }

  .newsDetailMainWrapper .category_main {
    left: 10px;
  }

  .event_detail_content .eventImg {
    height: calc(65vh - 215px);
  }

  .description_heading h1 {
    font-size: 35px !important;
  }

  .description_heading h2 {
    font-size: 30px !important;
  }

  .description_heading h3 {
    font-size: 24px !important;
  }

  .description_heading h4 {
    font-size: 20px !important;
  }

  .description_heading p {
    font-size: 20px !important;
  }
}

@media (max-width: 400px) {
  .eventCardDetails {
    padding: 20px 10px;
  }

  /* .eventImg {
    min-height: calc(100vh - 215px);
  } */

  .event_detail_card {
    padding: 15px 15px;
    margin-top: 20px;
  }

  .details {
    padding: 20px;
  }
}

/* src/Modal.module.css */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  background: #7d7d7d73;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
}

.modalContainer {
  background: white;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 70% 30%;
}

.column {
  padding: 20px;
}

.columnSmall {
  background: #f0f0f0;
  position: relative;
}

.ticketTier {
  padding: 20px 40px;
  margin-top: 20px;
}

.btnWrapper {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

/* ticket card styles */

.cardTicket {
  width: 300px;
  border-radius: 10px;
  background: #f7f7f7;
  overflow: hidden;
}

.cardHeaderTicket {
  height: 95px;
  border-top: 10px solid #7e79ff;
  border-bottom: 2px dotted #c7c7c7;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 20px 30px;
}

.cardHeaderTicketContent {
  display: flex;
  align-items: center;
}

.priceEuro {
  font-size: 24px;
  font-weight: 700;
}

.feeEuro,
.cardBodyTicket p {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}

.cardHeaderTicket:before,
.cardHeaderTicket:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 100%;
  bottom: -12px;
  box-sizing: border-box;
}

.cardHeaderTicket:before {
  left: -13px;
}

.cardHeaderTicket:after {
  right: -13px;
}

.cardBodyTicket {
  height: 200px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  position: relative;
}

.cardBodyTicket input[type="number"] {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ececed;
  padding-left: 15px;
  font-size: 14px;
  color: #b3b1b8;
}

.orderDiv {
  display: flex;
  position: absolute;
  bottom: 20px;
}

.ticketsGridModal {
  display: grid;
  width: 100%;
  grid-template-columns: 45% 45%;
  column-gap: 50px;
  row-gap: 40px;
  min-height: 600px;
}

.columnSmall h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

@media (max-width: 1200px) {
  .ticketsGridModal {
    column-gap: 30px;
    row-gap: 20px;
  }

  .columnLarge {
    padding: 20px 0;
  }
}

@media (max-width: 1025px) {
  .cardTicket {
    width: 270px;
  }
}

@media (max-width: 992px) {
  .ticketsGridModal {
    display: block;
  }

  .modalContainer {
    grid-template-columns: 60% 40%;
    max-height: 80vh;
  }

  .column {
    max-height: 80vh;
  }

  .cardTicket {
    width: 300px;
    margin-bottom: 20px;
  }

  .columnLarge {
    padding-right: 20px;
  }

  .ticketsGridModal {
    min-height: unset;
    height: 67vh;
  }
}

@media (max-width: 650px) {
  .cardTicket {
    width: 260px;
  }
}

@media (max-width: 576px) {
  .modalContainer {
    display: block;
  }

  .modalContainer {
    height: 70vh;
    overflow-y: scroll;
  }

  .modalContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .modalContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    float: right;
  }

  .modalContainer::-webkit-scrollbar-thumb {
    background-color: #7e79ff;
    border: 5px solid #7e79ff;
  }

  .btnWrapper {
    position: static;
  }

  .columnSmall {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .columnLarge {
    padding-right: 10px;
  }

  .modalBackground {
    padding: 0 15px;
  }
}
