/* ticket card styles */

.cardTicket {
  width: 300px;
  border-radius: 10px;
  background: #f7f7f7;
  overflow: hidden;
}

.cardHeaderTicket {
  height: 85px;
  border-top: 10px solid #7e79ff;
  border-bottom: 2px dotted #c7c7c7;
  border-radius: 10px 10px 0 0;
  position: relative;
  padding: 15px 30px;
}

.cardHeaderTicketContent {
  display: flex;
  align-items: center;
}

.priceEuro {
  font-size: 24px;
  font-weight: 700;
}

.feeEuro,
.ticketName {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.ticketName {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.ticketDescription {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.cardHeaderTicket:before,
.cardHeaderTicket:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 100%;
  bottom: -12px;
  box-sizing: border-box;
}

.cardHeaderTicket:before {
  left: -13px;
}

.cardHeaderTicket:after {
  right: -13px;
}

.cardBodyTicket {
  height: 220px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  position: relative;
}

.cardBodyTicket input[type="number"] {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ececed;
  padding-left: 15px;
  font-size: 14px;
  color: #b3b1b8;
}

.orderDiv form {
  display: flex;
  position: absolute;
  bottom: 20px;
  flex-wrap: wrap;
}

.orderDiv form p {
  color: red;
  margin: 0;
  margin-top: 5px;
}

@media (max-width: 1025px) {
  .cardTicket {
    width: 270px;
  }
}

@media (max-width: 992px) {
  .cardTicket {
    width: 300px;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .cardTicket {
    width: 260px;
  }
}
