.eventsGrid a {
  text-decoration: none;
}

.eventsGrid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 20px;
  row-gap: 60px;
  max-width: 1670px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 250px;
}

.eventCard {
  max-width: 516px;
  box-shadow: 0px 0px 10px 5px rgba(155, 154, 197, 0.15);
  border-radius: 18px;
  overflow: hidden;
  background: #f9f9f9;
}

.eventCard h2 {
  font-family: var(--primary-font);
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: #242424;
  margin: 0;
}

.eventCardImage {
  position: relative;
}

.eventImg {
  width: 100%;
  object-fit: cover;
  font-size: 32px;
  line-height: 36px;
  height: 275px;
}

.eventCategoryButton {
  position: absolute;
  background-color: #aeabff;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 30px;
  padding: 3px 24px;
  left: 25px;
  bottom: 20px;
}

.dateRemainingDaysDiv {
  margin-top: 20px;
}

.remainingDaysBtn {
  background-color: #f0677f;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 30px;
  padding: 3px 20px;
  margin-left: 20px;
}

.eventCardDetails {
  padding: 18px 28px;
  min-height: 295px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eventCardDetails span.time,
.eventCardDetails span.location {
  font-size: 14px;
  font-weight: 500;
}

.eventCardDetails span.time img {
  margin-right: 10px;
  margin-left: 2px;
}

.eventCardDetails span.location img {
  margin-right: 5px;
  margin-left: 0;
}

.locationDiv {
  margin-top: 10px;
}

.ticketsFindMore {
  display: flex;
  margin-top: 20px;
}

/* event-detail */

.event_detail_content .eventImg {
  height: 736px;
  border-radius: 20px;
}

.event_main_img {
  position: relative;
}

.category_main {
  position: absolute;
  bottom: 45px;
  left: 45px;
  background: #ef5da8;
  color: #fff;
  padding: 10px 30px;
  border-radius: 100px;
}

.category_main h5 {
  margin: 0;
  font-size: 18px;
}

.heart_icon {
  position: absolute;
  bottom: 45px;
  right: 45px;
  height: 82px;
  width: 82px;
  background-color: #bebbdd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.heart_icon img {
  width: 42px;
  height: 42px;
}

.event_detail_content {
  width: 100%;
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 30px;
}

.event_detail {
  padding-top: 215px;
}

.details {
  font-family: var(--secondary-font);
  background: white;
  padding: 40px;
  margin-top: 44px;
  border-radius: 20px;
  box-shadow: 0 0px 10px 0 #9b9ac573;
  color: black;
  backdrop-filter: blur(20px);
}

.details h2 {
  font-size: 62px;
  font-weight: 700;
  line-height: 60px;
}

.event_detail_card .image_path {
  display: none;
}

.event_circle_img img {
  width: 104px;
  height: 104px;
  border-radius: 200px;
}

.event_detail_card {
  background: #ebeaff;
  padding: 30px 40px;
  border-radius: 30px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.event_circle_img {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.event_circle_img a {
  font-size: 28px;
  font-weight: 600;
  color: #7e79ff;
}

.event_circle_img p {
  font-size: 22px;
  margin-bottom: 0;
  color: #777777;
  margin-top: 4px;
}

.follow_div .follow_btn {
  margin-left: 0 !important;
  width: 100%;
}

.follow_div .follow_btn span {
  padding: 0px 48px;
  font-size: 16px;
}

.cart_description {
  margin-top: 50px;
  font-family: var(--primary-font);
}

.description_img {
  width: 32px;
  height: 32px;
}

.cart_description p {
  font-size: 28px;
  font-weight: 400;
  color: #777777;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.hashtags span {
  font-size: 18px;
  color: #000;
  padding: 0 30px;
  background: #e0dff9;
  border-radius: 100px;
  line-height: 50px;
}

.description_heading h2 {
  font-size: 48px;
  color: #000;
  margin-top: 57px;
}

.description_heading p {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-top: 20px;
  font-family: var(--primary-font);
  width: 100%;
  max-width: 635px;
}

.ticket_detail {
  text-align: center;
  font-family: var(--secondary-font);
}

.ticket_detail h3 {
  font-size: 48px;
  color: #000;
  font-weight: 600;
}

.ticket_detail p {
  font-size: 22px;
  color: #777777;
  margin-top: 25px;
}

.ticket_detail .ticket_text {
  font-size: 18px;
}

.LoadingBar{
  color: #7e79ff;
}
@media (max-width: 1440px) {
  .details h2 {
    font-size: 42px;
    line-height: 47px;
  }

  .event_circle_img a {
    font-size: 24px;
  }

  .event_circle_img {
    gap: 15px;
  }
}

@media (max-width: 1300px) {
  .eventsGrid {
    max-width: 1100px;
    grid-template-columns: 48% 48%;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .eventsGrid {
    row-gap: 40px;
  }
  .event_detail_content .eventImg {
    height: 500px;
  }
}

@media (max-width: 767px) {
  .eventsGrid {
    display: block;
  }

  .eventCard {
    margin: 0 auto;
    width: 95%;
    margin-bottom: 40px;
  }

  .details h2 {
    font-size: 30px;
    line-height: 38px;
  }

  .event_detail_card {
    padding: 20px 25px;
    margin-top: 25px;
  }

  .cart_description p {
    font-size: 24px;
  }

  .description_img {
    width: 28px;
    height: 28px;
  }

  .details {
    padding: 25px;
  }

  .heart_icon {
    top: 22px;
    right: 22px;
    height: 48px;
    width: 48px;
  }

  .heart_icon img {
    width: 24px;
    height: 24px;
  }

  .category_main {
    bottom: 22px;
    left: 22px;
    padding: 7px 16px;
  }

  .category_main h5 {
    font-size: 14px;
  }

  .event_detail_content .eventImg {
    height: 450px;
  }

  .description_heading h2 {
    margin-top: 40px;
  }

  .ticket_detail h3 {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .eventCard h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .eventImg {
    height: 200px;
  }

  .eventCardDetails {
    padding: 20px 15px;
  }

  .ticketsFindMore {
    margin-top: 10px;
  }

  .eventCardDetails span.time img {
    width: 19px;
    margin-right: 3px;
    margin-left: 1px;
  }

  .remainingDaysBtn {
    background-color: #f0677f;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    border-radius: 30px;
    padding: 2px 10px;
    margin-left: 15px;
  }

  .eventCardDetails span.location img {
    margin-right: 0px;
    margin-left: 0;
    width: 22px;
  }

  .locationDiv {
    margin-top: 5px;
  }

  .eventCategoryButton {
    left: 15px;
  }

  .event_detail_content .eventImg {
    height: 250px;
  }

  .details h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .description_heading p {
    font-size: 14px;
    line-height: 20px;
  }

  .event_circle_img img {
    width: 80px;
    height: 80px;
  }

  .details {
    margin-top: 25px;
  }

  .event_detail {
    padding-top: 180px;
  }

  .hashtags span {
    font-size: 16px;
    padding: 0 26px;
  }

  .cart_description p {
    font-size: 18px;
    gap: 10px;
  }

  .description_img {
    width: 22px;
    height: 22px;
  }

  .event_circle_img a {
    font-size: 22px;
  }

  .event_circle_img p {
    font-size: 18px;
  }

  .ticket_detail h3 {
    font-size: 24px;
  }

  .ticket_detailp {
    font-size: 22px;
    margin-top: 10px;
  }

  .cart_description {
    margin-top: 25px;
  }
}

@media (max-width: 400px) {
  .eventCardDetails {
    padding: 20px 10px;
  }

  .eventImg {
    height: 160px;
  }

  .event_detail_card {
    padding: 15px 15px;
    margin-top: 20px;
  }

  .details {
    padding: 20px;
  }
}
