.eventsGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 516px));
  row-gap: 60px;
  column-gap: 60px;
  justify-content: space-between;
  padding-top: 50px;
}

.eventsGrid a {
  text-decoration: none;
}

@media (max-width: 1300px) {
  .eventsGrid {
    grid-template-columns: 48% 48%;
    grid-template-columns: repeat(2, minmax(0, 516px));
  }
}

@media (max-width: 992px) {
  .eventsGrid {
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .eventsGrid {
    grid-template-columns: 100%;
  }
}
