.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  background: #7d7d7d73;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
}

.modalContainer {
  background: white;
  max-width: 1230px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
}

.column {
  padding: 20px;
}

.columnSmall {
  background: #f0f0f0;
  position: relative;
}

.btnWrapper {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.ticketsGridModal {
  display: grid;
  width: 100%;
  grid-template-columns: 45% 45%;
  column-gap: 50px;
  row-gap: 40px;
}

.columnSmall h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--secondary-font);
  margin-bottom: 20px;
}

.ticketTier {
  display: flex;
  column-gap: 10px;
}

.ticketTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.ticketTable th,
.ticketTable td {
  border: 1px solid #ddd;
  padding: 8px 5px;
  text-align: left;
  word-wrap: break-word;
}

.ticketTable td:first-child {
  max-height: 53px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.2em;
  text-overflow: ellipsis;
  white-space: normal;
}

.ticketTable th {
  background-color: #f2f2f2;
  font-size: 13px;
}

.ticketTable tr {
  font-size: 12px;
  font-weight: 500;
}

.ticketTable th:last-child,
.ticketTable td:last-child {
  width: 30px;
  padding: 8px 2px;
}

.grandTotal p {
  font-weight: 700;
  margin: 0;
}

.coupenWrapper {
  margin-top: 20px;
}

.coupenWrapper span {
  position: relative;
  display: inline-block;
  background: var(--purple-normal);
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
}

.coupenWrapper input {
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  border-right: 0;
  font-size: 16px;
  border: 2px dashed var(--purple-normal);
  outline: none;
  padding: 3px 2px;
  width: calc(100% - 62px);
}

.columnLarge {
  height: 760px;
  overflow-y: auto;
  max-height: 90vh;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  max-height: 45vh;
  overflow-y: auto;
  display: block;
}

.columnLarge::-webkit-scrollbar-track,
tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.columnLarge::-webkit-scrollbar,
tbody::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  float: right;
}

.columnLarge::-webkit-scrollbar-thumb,
tbody::-webkit-scrollbar-thumb {
  background-color: #7e79ff;
  border: 5px solid #7e79ff;
}

.removeButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 15px;
  transition: color 0.3s ease;
}

.removeButton:hover {
  color: darkred;
}

.removeButton:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .ticketsGridModal {
    column-gap: 30px;
    row-gap: 20px;
  }

  .columnLarge {
    padding: 20px 0;
  }

  .modalContainer {
    grid-template-columns: 70% 30%;
  }
}
@media (max-width: 992px) {
  .ticketsGridModal {
    display: block;
  }

  .modalContainer {
    grid-template-columns: 55% 45%;
    max-height: 80vh;
  }

  .column {
    max-height: 80vh;
  }

  .columnLarge {
    padding-right: 20px;
  }

  .ticketTable tbody {
    max-height: 30vh;
  }
}

@media (max-width: 768px) {
  .modalContainer {
    grid-template-columns: 53% 47%;
  }
  .columnLarge {
    padding-right: 5px;
  }

  .columnSmall {
    padding-left: 10px;
  }
}

@media (max-width: 680px) {
  .modalContainer {
    grid-template-columns: 51% 49%;
  }
}

@media (max-width: 610px) {
  .columnLarge {
    overflow: hidden;
    max-height: unset;
    height: auto;
  }

  .modalContainer {
    display: block;
    height: 70vh;
    overflow-y: auto;
  }

  .modalContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .modalContainer::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    float: right;
  }

  .modalContainer::-webkit-scrollbar-thumb {
    background-color: #7e79ff;
    border: 5px solid #7e79ff;
  }

  .btnWrapper {
    position: static;
  }

  .columnSmall {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .coupenWrapper {
    margin-bottom: 20px;
  }

  .coupenWrapper input {
    width: calc(100% - 62px);
  }

  .btnWrapper button {
    margin-right: 0;
  }

  .columnLarge {
    max-height: unset;
  }

  .ticketsGridModal {
    height: unset;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .columnLarge {
    padding-right: 10px;
  }

  .modalBackground {
    padding: 0 15px;
  }
}
