/* navbar */
header.App_header {
  margin: 0 30px;
  position: relative;
  z-index: 999999;
}

.navbar {
  background-color: #fffffff5;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 107px;
  font-family: var(--primary-font);
  max-width: 1700px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 5px rgba(155, 154, 197, 0.15);
  margin-top: 37px;
  border-radius: 17px;
}

/* logo  */
.logo {
  margin-bottom: 10px;
}

/* ul  */
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
  /* width: calc(100% - 241px - 300px - 80px); */
  width: 90%;
  max-width: 547px;
}

.navLink {
  color: var(--purple-light);
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.navLink:hover {
  color: var(--purple-normal);
}

.hamburger {
  display: none;
}

.host_and_signin {
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 300px; */
}

.loginBtn {
  font-size: 18px;
  font-weight: 700;
  color: var(--purple-normal);
  position: relative;
  margin-left: 25px;
}

.loginBtn:hover {
  text-decoration: none;
}

.loginBtn::after {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background-image: url(images/right-arrow.svg);
  top: 9px;
  right: -20px;
}

.logo img {
  width: 100%;
  max-width: 241px;
}

/* global button one */
button.global_button_one {
  padding: 13px 44px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 55px;
  background: var(--linear-gradient-border);
  cursor: pointer;
  color: var(--purple-normal);
  font-size: 18px;
  font-weight: 600;
}

button.global_button_one:hover {
  color: #fff;
}

button.global_button_one::before {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border-radius: 55px;
  background-color: white;
  z-index: -1;
  transition: 200ms;
}
button.global_button_one::after {
  content: attr(data);
  font-size: 16px;
  background: var(--linear-gradient-border);
  color: transparent;
  transition: 200ms;
}
button.global_button_one:hover::before {
  opacity: 0;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
button.global_button_one:hover::after {
  color: transparent;
}

/* media queries */

@media screen and (max-width: 1350px) {
  .navMenu {
    max-width: 400px;
    width: 100%;
  }

  button.global_button_one {
    padding: 13px 20px;
  }
}

@media screen and (max-width: 1146px) {
  .navbar {
    padding: 20px 20px;
    gap: 15px;
    min-height: 90px;
    margin-top: 27px;
  }

  .navMenu {
    gap: 20px;
  }

  .navLink {
    font-size: 16px;
  }

  .host_and_signin {
    padding-right: 10px;
    /* width: 250px; */
  }

  .logo img {
    width: 100%;
    max-width: 180px;
  }

  button.global_button_one {
    padding: 10px 25px;
  }

  .navMenu {
    max-width: 300px;
    width: 100%;
  }

  button.global_button_one {
    padding: 13px 20px;
  }
}

@media screen and (max-width: 992px) {
  .logo img {
    width: 100%;
    max-width: 140px;
  }

  .host_and_signin {
    /* width: 235px; */
  }

  button.global_button_one {
    padding: 6px 20px;
    font-size: 14px;
    padding-bottom: 10px;
  }

  .navMenu {
    width: calc(100% - 140px - 250px - 30px);
    max-width: none;
  }

  .navbar {
    padding: 15px 20px;
  }

  .loginBtn {
    font-size: 16px;
    margin-left: 15px;
  }

  .loginBtn::after {
    width: 9px;
    height: 12px;
    top: 8px;
    right: -15px;
  }
}

@media screen and (max-width: 780px) {
  .navbar {
    padding: 15px 15px;
    min-height: 50px;
  }

  button.global_button_one {
    padding: 13px 20px;
    font-size: 18px;
  }

  /* hamburger */
  .hamburger {
    display: block;
    cursor: pointer;
    order: 3;
    width: 23px;
    margin-left: calc(33% - 23px);
  }

  .bar {
    background-color: #6c6c6c;
    width: 23px;
    height: 3px;
    display: block;
    margin: 4px;
    border-radius: 37px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  /* adding active class to the bars  */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* navMenu */

  .navMenu {
    position: absolute;
    z-index: -1;
    flex-direction: column;
    gap: 0;
    top: -20px;
    left: -140%;
    text-align: start;
    width: 113%;
    transition: 0.7s ease-in-out;
    background: #ffffff9e;
    backdrop-filter: blur(20px);
    padding: 10px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navMenu.active {
    left: -30px;
  }

  .navMenu li {
    margin: 16px 0;
  }

  .host_and_signin {
    width: 33%;
    padding-right: 0;
  }

  .global_button_one {
    display: none;
  }

  .nav_btn {
    display: block;
  }

  .logo {
    width: 33%;
    order: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header.App_header {
    margin: 0 22px;
  }

  .navLink {
    font-size: 24px;
    text-decoration: underline;
    font-weight: 600;
  }

  .navLink:hover {
    text-decoration: none;
  }

  .navbtn_div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10vh;
  }

  .loginBtn {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .navMenu {
    width: 122%;
    max-width: unset;
  }
}

@media screen and (max-width: 400px) {
  .navMenu {
    width: 122%;
    padding-left: 30px;
    padding-right: 10px;
  }

  .navbar {
    padding: 11px 15px;
    gap: 0;
  }

  .logo {
    margin-bottom: 0;
  }

  .logo img {
    max-width: 105px;
  }

  .loginBtn {
    font-size: 15px;
  }

  .loginBtn::after {
    width: 8px;
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 7px;
    right: -14px;
  }

  .bar {
    width: 21px;
    margin: 3px;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}

@media screen and (max-width: 350px) {
  header.App_header {
    margin: 0 10px;
  }

  .navbar {
    padding: 11px 10px;
  }

  .loginBtn {
    font-size: 12px;
  }

  .loginBtn::after {
    top: 5px;
    right: -11px;
  }
}
