.tabs {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tabSection {
  background: #fff;
  border-radius: 32px;
  padding: 50px;
  text-align: left;
  border: 1px solid #d8d8d8;
  width: 100%;
  max-width: 937px;
  margin-right: 60px;
}

.tabs h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  margin: 0;
  color: #000;
  font-weight: 600;
}

/* main tabs */

.tabSection #tabs {
  max-width: 835px;
  margin-top: 40px;
}

.tabSection ul {
  list-style: none;
  margin: 0;
  padding: 4px;
  display: flex;
  margin-bottom: 0;
  background-color: #ececed;
  border-radius: 12px;
}

.tabSection ul li {
  margin: 0;
  padding: 0;
  width: 150px;
  text-align: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.tabSection ul li.bg {
  background-color: #fff;
  border-radius: 8px;
  transform: translatex(-300%);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.tabSection ul li label {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  font-size: 12px;
  color: #4f4b5c;
  font-weight: 600;
  cursor: pointer;
}

#button-1:checked ~ ul li.bg {
  transform: translatex(-400%);
}
#button-2:checked ~ ul li.bg {
  transform: translatex(-300%);
}
#button-3:checked ~ ul li.bg {
  transform: translatex(-200%);
}

#button-4:checked ~ ul li.bg {
  transform: translatex(-100%);
}

#button-1:checked ~ #content #tab-1 {
  display: flex;
}

#button-2:checked ~ #content #tab-2 {
  display: flex;
}

#button-3:checked ~ #content #tab-3 {
  display: flex;
}

#button-4:checked ~ #content #tab-4 {
  display: flex;
}

#button-1:checked ~ #shadow #content {
  transform: translatex(0px);
}

#button-2:checked ~ #shadow #content {
  transform: translatex(-25%);
}

#button-3:checked ~ #shadow #content {
  transform: translatex(-50%);
}

#button-4:checked ~ #shadow #content {
  transform: translatex(-75%);
}

#tabs {
  max-width: 900px;
}

#shadow {
  overflow: hidden;
}

#content {
  display: flex;
  width: 400%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

#content > div {
  padding: 20px;
  display: flex;
  align-items: center;
  flex: 1;
}

#content .right {
  flex: 1;
}

.baseImg {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 500px;
}

#content h4 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

#content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.2rem 0;
}

input[type="radio"] {
  display: none;
}

/* dashboard inputs */

.twoFields {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 37px;
}

.inputFields {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.twoFields input {
  height: 46px;
  width: 100%;
  padding: 0 43px;
  color: #8897ae;
  font-size: 16px;
  border: 1px solid #afbaca;
  border-radius: 6px;
  outline: none;
}

.twoFields input::placeholder {
  color: #8897ae;
  font-size: 16px;
  line-height: normal;
}

.inputImgs {
  position: absolute;
  left: 19px;
  height: 15px;
  width: 15px;
}

.loginButton {
  background-image: var(--linear-gradient-border);
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 54px;
  letter-spacing: 1px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 216px;
  z-index: 2;
  border: none;
  transition: 0.5s ease;
  margin-top: 130px;
}

.loginButton:hover span {
  background: white;
}

.loginButton:hover {
  color: #7e79ff;
}

.loginButton span {
  font-family: var(--primary-font);
  align-items: center;
  background: transparent;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  text-transform: math-auto;
}

.inputFields .inputImgs {
  width: 18px;
  height: 17px;
}

:root {
  --primary: color-mix(in srgb, #bf7fff 60%, #8482ff);
}

#file-input {
  opacity: 0;
}
.inputImg {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputImg input {
  opacity: 0;
  width: 0px;
}

.inputImg img {
  max-width: 250px;
  border-radius: 999px;
  outline: 2px solid var(--primary);
  cursor: pointer;
  transition: 200ms ease-in-out;

  /* prevents uploaded image from distortion: */
  aspect-ratio: 1;
  object-fit: cover;
}

.inputImg img:hover {
  outline: 4px solid var(--primary);
}

#toast {
  visibility: hidden;
  min-width: 100px;
  margin-left: -125px;
  background-color: var(--primary);
  color: whitesmoke;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  right: 5%;
  top: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

.placeImg {
  width: 110px;
}

/* Host Page */

.hostSection {
  font-family: var(--secondary-font);
  background: #fff;
  padding: 40px 50px;
  border-radius: 32px;
  width: 100%;
  max-width: 805px;
  text-align: center;
}

.inputTextarea textarea {
  margin-top: 51px;
  font-size: 14px;
  color: #4f4b5c;
  padding: 10px;
  border-radius: 8px;
  border-color: #d9d8dc;
  width: 100%;
  height: 128px;
}

.lefFields {
  width: 100%;
  max-width: 320px;
}

.inputTextarea {
  width: 100%;
}

.lefFields label {
  font-family: var(--primary-font);
  font-size: 14px;
  color: #3d4a5c;
  font-weight: 500;
  margin-bottom: 6px;
}

.lefFields .inputFields {
  flex-direction: column;
  align-items: flex-start;
}

.lefFields .comapanyName {
  padding: 0 14px;
}

.hostSection .twoFields {
  display: flex;
}

.lefFields .inputFields img {
  bottom: 14px;
}

.lefFields .inputFields {
  margin-top: 11px;
}

.lefFields {
  margin-top: 15px;
}

.hostSection .loginButton {
  margin-top: 27px;
  width: 100%;
}

/* DataTables */

.dataTables {
  padding-left: 300px;
  padding-right: 70px;
  margin-top: 30px;
}

.tablesGrid {
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.tableOne {
  background: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 32px;
  padding: 20px 35px;
  width: 100%;
}

.dataTables .searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.dataTables h2 {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.tableOne .searchBar input {
  height: 40px;
  width: 100%;
  max-width: 261px;
  background: #ececed;
  border-radius: 8px;
  border: none;
  padding: 0 20px;
}

.tableOne .searchBar input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #4f4b5c;
}

.secondActionsDiv {
  width: 100%;
  max-width: 657px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.actionDiv {
  background-image: url(images/action.png);
  width: 100%;
  background-size: cover;
  border-radius: 32px;
  text-align: center;
  padding: 50px;
}

.earningsDiv {
  font-family: var(--secondary-font);
  background: #fff;
  border-radius: 32px;
  padding: 20px 50px;
}

.actionDiv .loginButton {
  margin: 0 auto;
  margin-top: 40px;
  width: 257px;
}

.earningMain {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  justify-content: center;
}

.earningMain p {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: #b9b9b9;
  font-weight: 600;
}

.earningMain h3 {
  font-family: var(--secondary-font);
  font-size: 48px;
  color: var(--linear-gradient-border);
  background: var(--linear-gradient-border);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.secondTables {
  margin-top: 38px;
}

.payout {
  display: flex;
  gap: 15px;
  align-items: center;
}

.payout img {
  margin-bottom: 0.5rem;
}

.viewAll {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewAll span {
  font-size: 18px;
  font-weight: 700;
  color: var(--purple-normal);
}

.tableContent {
  font-size: 21px;
  font-weight: 700;
  font-family: var(--secondary-font);
  margin-bottom: 0;
  margin-top: 30px;
  line-height: 160%;
}

/* singleEvent */

.singleEvent {
  background-image: url(images/signleEvent.png);
  background-size: cover;
  border-radius: 32px;
  padding: 0 40px;
  padding-top: 110px;
  width: 100%;
}

.ticketOrders {
  width: 100%;
  background: #fff;
  max-width: 753px;
  border-radius: 32px;
  padding: 17px 35px;
}

.ticketOrders table {
  width: 100%;
}

.ticketOrders .loginButton {
  margin-top: 0;
  width: 185px;
  height: 48px;
}

.ticketOrders h2{
  margin-bottom: 0;
}

@media (max-width: 1600px) {
  .hostSection {
    margin-right: 40px;
  }
  .dataTables {
    padding-left: 0;
  }
}

@media (max-width: 1400px) {
  .dataTables {
    padding-right: 30px;
    gap: 20px;
  }
  .secondActionsDiv {
    max-width: 100%;
  }
  .earningMain {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 1280px) {
  .tablesGrid {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .tabSection {
    padding: 30px;
  }
  .tabSection ul li label {
    padding: 7px 7px;
  }
  .tabSection {
    margin-top: 40px;
  }
  .hostSection .twoFields {
    flex-wrap: wrap;
  }
  .lefFields {
    width: 100%;
    max-width: 100%;
  }
  .dataTables {
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .dataTables {
    padding-right: 0px;
  }
  .tabSection {
    margin-top: 40px;
    margin-right: 0;
  }
  #content > div {
    padding: 5px;
  }
  .loginButton {
    margin-top: 40px;
  }
  .twoFields {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
  }
  .hostSection {
    margin-right: 0px;
  }
}

@media (max-width: 576px) {
  .twoFields {
    grid-template-columns: auto;
    margin-top: 20px;
  }
  .left {
    width: 100%;
  }
  .inputFields {
    margin-top: 10px;
  }
  .tabSection ul {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
  }
  #button-1:checked ~ ul li.tab-1-li {
    background-color: #fff;
  }
  #button-2:checked ~ ul li.tab-2-li {
    background-color: #fff;
  }
  #button-3:checked ~ ul li.tab-3-li {
    background-color: #fff;
  }
  #button-4:checked ~ ul li.tab-4-li {
    background-color: #fff;
  }
  .tabSection ul li {
    border-radius: 10px;
  }
  .baseImg {
    width: 90px;
    height: 90px;
  }
  .tabSection {
    padding: 30px 20px;
  }
  .hostSection {
    padding: 30px 20px;
  }
  .tabs h2 {
    font-size: 26px;
  }
}

@media (max-width: 400px) {
  .tabSection ul li {
    width: 100%;
  }
}
