.tabs {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}

.tabSection {
  background: #fff;
  border-radius: 32px;
  padding: 50px;
  text-align: left;
  border: 1px solid #d8d8d8;
  width: 100%;
  max-width: 937px;
  margin-right: 60px;
}

.tabs h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  margin: 0;
  color: #000;
  font-weight: 600;
}

/* main tabs */

.tabSection #tabs {
  max-width: 835px;
  margin-top: 40px;
}

.tabSection ul {
  list-style: none;
  margin: 0;
  padding: 4px;
  display: flex;
  margin-bottom: 0;
  background-color: #ececed;
  border-radius: 12px;
}

.tabSection ul li {
  margin: 0;
  padding: 0;
  width: 150px;
  text-align: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.tabSection ul li.bg {
  background-color: #fff;
  border-radius: 8px;
  transform: translatex(-300%);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.tabSection ul li label {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  font-size: 12px;
  color: #4f4b5c;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

#button-1:checked ~ ul li.bg {
  transform: translatex(-400%);
}
#button-2:checked ~ ul li.bg {
  transform: translatex(-300%);
}
#button-3:checked ~ ul li.bg {
  transform: translatex(-200%);
}

#button-4:checked ~ ul li.bg {
  transform: translatex(-100%);
}

#button-1:checked ~ #content #tab-1 {
  display: flex;
}

#button-2:checked ~ #content #tab-2 {
  display: flex;
}

#button-3:checked ~ #content #tab-3 {
  display: flex;
}

#button-4:checked ~ #content #tab-4 {
  display: flex;
}

#button-1:checked ~ #shadow #content {
  transform: translatex(0px);
}

#button-2:checked ~ #shadow #content {
  transform: translatex(-25%);
}

#button-3:checked ~ #shadow #content {
  transform: translatex(-50%);
}

#button-4:checked ~ #shadow #content {
  transform: translatex(-75%);
}

#tabs {
  max-width: 900px;
}

#shadow {
  overflow: hidden;
}

#content {
  display: flex;
  width: 400%;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

#content > div {
  padding: 20px;
  display: flex;
  align-items: center;
  flex: 1;
}

.host-profile-tabs-section #content > div {
  align-items: flex-start;
}

.host-profile-tabs-section .loginButton {
  margin-top: 40px;
}

#content .right {
  flex: 1;
}

.baseImg {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 500px;
}

#content h4 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

/* #content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.2rem 0;
} */

input[type="radio"] {
  display: none;
}

/* dashboard inputs */

.twoFields {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 37px;
}

.inputFields {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.inputFieldsLabelWrapper {
  margin-top: 30px;
}

.inputFieldsLabelWrapper .inputFields {
  margin-top: 6px;
}

.twoFields input {
  height: 46px;
  width: 100%;
  padding: 0 43px;
  color: #8897ae;
  font-size: 16px;
  border: 1px solid #afbaca;
  border-radius: 6px;
  outline: none;
}

.twoFields input::placeholder {
  color: #8897ae;
  font-size: 16px;
  line-height: normal;
}

.inputImgs {
  position: absolute;
  left: 19px;
  height: 15px;
  width: 15px;
}

.loginButton {
  background-image: var(--linear-gradient-border);
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 54px;
  letter-spacing: 1px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 216px;
  z-index: 2;
  border: none;
  transition: 0.5s ease;
  margin-top: 130px;
}

.loginButton:hover span {
  background: white;
}

.loginButton:hover {
  color: #7e79ff;
}

.loginButton span {
  font-family: var(--primary-font);
  align-items: center;
  background: transparent;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-transform: math-auto;
}

.loginButton.remove-margin {
  margin-top: 30px;
  float: right;
}

.ticketOrders .loginButton,
.popup-buttons .loginButton,
.tablesGrid .loginButton {
  z-index: 0;
  margin-top: 0;
}

.inputFields .inputImgs {
  width: 18px;
  height: 17px;
}

:root {
  --primary: color-mix(in srgb, #bf7fff 60%, #8482ff);
}

#file-input {
  opacity: 0;
}
.inputImg {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputImg input {
  opacity: 0;
  width: 0px;
}

.inputImg img {
  max-width: 250px;
  border-radius: 999px;
  outline: 2px solid var(--primary);
  cursor: pointer;
  transition: 200ms ease-in-out;

  /* prevents uploaded image from distortion: */
  aspect-ratio: 1;
  object-fit: cover;
}

.inputImg img:hover {
  outline: 4px solid var(--primary);
}

#toast {
  visibility: hidden;
  min-width: 100px;
  margin-left: -125px;
  background-color: var(--primary);
  color: whitesmoke;
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  right: 5%;
  top: 30px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 30px;
    opacity: 0;
  }
}

.placeImg {
  width: 110px;
}

/* Host Page */

.hostSection {
  font-family: var(--secondary-font);
  background: #fff;
  padding: 40px 50px;
  border-radius: 32px;
  width: 100%;
  max-width: 805px;
  text-align: center;
}

.edit-host-profile-tab .hostSection {
  padding: 0;
}

.inputTextarea textarea {
  margin-top: 51px;
  font-size: 14px;
  color: #4f4b5c;
  padding: 10px;
  border-radius: 6px;
  border-color: #afbaca;
  width: 100%;
  height: 128px;
  outline: none;
}

.edit-host-profile-tab .inputTextarea textarea {
  height: 214px;
  margin-top: 0;
}

.edit-host-profile-tab .inputTextarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
}

.lefFields {
  width: 100%;
  max-width: 320px;
}

.inputTextarea {
  width: 100%;
}

.hostSection label,
.host-profile-tabs-section label {
  font-family: var(--primary-font);
  font-size: 14px;
  color: #3d4a5c;
  font-weight: 500;
  margin-bottom: 6px;
}

.host-profile-tabs-section label {
  margin-bottom: 0;
}

.host-profile-tabs-section .edit-host-profile-tab label {
  margin-bottom: 6px;
}

.lefFields .inputFields {
  flex-direction: column;
  align-items: flex-start;
}

.lefFields .comapanyName {
  padding: 0 14px;
}

.hostSection .twoFields {
  display: flex;
}

.lefFields .inputFields img {
  bottom: 14px;
}

.lefFields .inputFields {
  margin-top: 11px;
}

.lefFields {
  margin-top: 15px;
}

.hostSection .loginButton {
  margin-top: 27px;
  width: 100%;
}

.edit-host-profile-tab .hostSection .loginButton {
  max-width: 320px;
}

/* DataTables */

.dataTables {
  padding-left: 300px;
  padding-right: 70px;
  margin-top: 30px;
  max-width: 1920px;
}

.tablesGrid {
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.dataTables .searchBar {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  row-gap: 4px;
}

.dataTables h2 {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.tableOne .searchBar input {
  height: 40px;
  width: 100%;
  max-width: 261px;
  background: #ececed;
  border-radius: 8px;
  border: none;
  padding: 0 20px;
}

.tableOne .searchBar input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #4f4b5c;
}

.secondActionsDiv {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.actionDiv {
  background-image: url(../../../assets/images/action.png);
  width: 100%;
  background-size: cover;
  border-radius: 32px;
  text-align: center;
  padding: 50px;
}

.earningsDiv {
  font-family: var(--secondary-font);
  background: #fff;
  border-radius: 32px;
  padding: 31px 50px;
}

.actionDiv .loginButton {
  margin: 0 auto;
  margin-top: 40px;
  width: 257px;
}

.earningMain {
  display: flex;
  column-gap: 10%;
  row-gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.earningMain p {
  font-family: var(--secondary-font);
  font-size: 18px;
  color: #b9b9b9;
  font-weight: 600;
}

.earningMain h3 {
  font-family: var(--secondary-font);
  font-size: 40px;
  color: var(--linear-gradient-border);
  background: var(--linear-gradient-border);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.secondTables {
  margin-top: 38px;
}

.payout {
  display: flex;
  gap: 15px;
  align-items: center;
}

.payout img {
  margin-bottom: 0.5rem;
}

.viewAll {
  display: flex;
  align-items: center;
  gap: 15px;
}

.viewAll span {
  font-size: 18px;
  font-weight: 700;
  color: var(--purple-normal);
}

.tableContent {
  font-size: 21px;
  font-weight: 700;
  font-family: var(--secondary-font);
  margin-bottom: 0;
  margin-top: 30px;
  line-height: 160%;
}

/* singleEvent */

.singleEvent {
  background-image: url(../../../assets/images/signleEvent.png);
  background-size: cover;
  border-radius: 32px;
  padding: 0 40px;
  padding-top: 110px;
  width: 100%;
  padding-bottom: 30px;
  border: 1px solid #d8d8d8;
}

.singleEventHeader a {
  width: 285px;
}

.ticketOrders {
  width: 100%;
  background: #fff;
  /* max-width: 753px; */
  border-radius: 32px;
  padding: 17px 35px;
}

.ticketOrders table {
  width: 100%;
}

.ticketOrders .loginButton {
  margin-top: 0;
  width: 185px;
  height: 48px;
}

.ticketOrders h2 {
  margin-bottom: 0;
}

.cardDescription {
  margin-top: 20px;
  font-family: var(--primary-font);
}

.descriptionImg {
  width: 27px;
  height: 27px;
}

.cardDescription p {
  font-size: 24px;
  font-weight: 400;
  color: #777777;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.singleEventBtn {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.singleEventBtn {
  margin-top: 100px;
}

.singleEventBtn .loginButton {
  margin-top: 0;
}

.pagination {
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.promotersMain {
  display: flex;
  gap: 38px;
  margin-top: 38px;
}

.promotersMain .promotertable {
  max-width: 100%;
}

.pagination button {
  background: #7357ff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 8px;
}

.dataTables .pagination {
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.singleEventHeader {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.singleEventHeader h2 {
  margin-bottom: 0;
}

.marketingGrid .promotersMain {
  flex-direction: column;
  width: 100%;
  /* max-width: 740px; */
  margin-top: 0;
}

.marketingGrid .loginButton {
  width: 277px;
}

.marketingGrid .searchBar {
  justify-content: space-between;
  gap: 30px;
}

.marketingSubscriber .searchBar {
  justify-content: space-between;
}

.marketingSubscriber .loginButton {
  width: 220px;
}

.tabs .progressCard {
  width: 100%;
  max-width: 1072px;
}

#heading {
  text-transform: uppercase;
  color: #673ab7;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform .fieldsetOne,
#msform .fieldsetTwo {
  background: white;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 40px 80px;
  position: relative;
  border-radius: 32px;
}

#msform .fieldsetOne {
  padding-bottom: 100px;
}

#msform .fieldsetTwo {
  padding-bottom: 60px;
}

.form-card {
  text-align: left;
}

#msform .fieldsetTwo {
  display: none;
}

#msform input,
#msform textarea,
#msform select {
  padding: 8px 15px 8px 15px;
  border: 1px solid #d9d8dc;
  border-radius: 8px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--primary);
  /* color: #2c3e50; */
  color: #4f4b5c;
  background-color: transparent;
  font-size: 14px;
  box-shadow: none;
}

#msform input::placeholder,
#msform textarea::placeholder {
  color: #4f4b5c;
  opacity: 1;
}

#msform .action-button {
  background-image: var(--linear-gradient-border);
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 52px;
  letter-spacing: 1px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 180px;
  z-index: 2;
  border: none;
  transition: 0.5s ease;
  margin: 0 auto;
  margin-right: 0;
  text-align: center;
  cursor: pointer;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #673ab7;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #673ab7;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  font-size: 14px;
  color: #3d4a5c;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #b9b9b9;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: var(--primary-font);
}

#progressbar strong {
  font-size: 18px;
  font-weight: 500;
}

#progressbar h3 {
  color: #000;
  font-size: 24px;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 0px;
  color: #ffffff;
  background: #b9b9b9;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #b9b9b9;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #aeabff;
}

.progress {
  height: 20px;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

/* // opcacity shenanigans not in default tailwind */
.hasImage:hover section {
  background-color: #aeabff;
}
.hasImage:hover button:hover {
  background: #aeabff;
}
#overlay p,
i {
  opacity: 0;
}
.rdrNextPrevButton i {
  opacity: 1;
}
#overlay.draggedover {
  background-color: rgba(255, 255, 255, 0.7);
}
#overlay.draggedover p,
#overlay.draggedover i {
  opacity: 1;
}
/* // group hover not in default tailwind */
.group:hover .group-hover\:text-blue-800 {
  color: #aeabff;
}

input#hidden-input {
  display: none;
}

#gallery {
  padding: 20px 20px;
  background: #f7f7f7;
  border-radius: 21px;
  min-height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

li#empty {
  display: flex;
  align-items: center;
  gap: 20px;
}

#empty span {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

#empty p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

#gallery h1 {
  font-size: 26px;
}

.uploadedImgs {
  background: #fff;
}

.uploadImg {
  position: relative;
}

.uploadBtn {
  position: absolute;
  height: 100%;
  width: 100%;
}

.uploadBtn button {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.uploadedImgs {
  width: 100%;
  border-radius: 21px;
}

#gallery svg {
  fill: #aeabff;
}

button.delete.ml-auto {
  border: 2px solid #aeabff;
  border-radius: 5px;
}

#gallery article {
  border-radius: 21px;
}

.uploadImgDiv {
  position: relative;
  z-index: 99;
}

.eventFields {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.eventLables {
  width: 100%;
}

.datetime {
  display: flex;
  gap: 25px;
}

.datePicker {
  width: 100%;
}

.chooseTime {
  width: 100%;
}

.onlineVenue #button-1:checked ~ ul li.bg {
  transform: translatex(-200%);
}

.onlineVenue #button-2:checked ~ ul li.bg {
  transform: translatex(-100%);
}

.onlineVenue #button-2:checked ~ #shadow #content {
  transform: translatex(-50%);
}

.onlineVenue .tabSection {
  border: 0;
  padding: 0;
}

.onlineVenue .tabSection ul {
  width: 100%;
  max-width: 470px;
  margin: 0 auto;
}

.onlineVenue #content > div {
  padding: 0;
  margin-top: 40px;
}

.onlineVenue .left {
  width: 50%;
}

.eventLables textarea {
  height: 176px;
}

.onlineVenue .tabSection #tabs {
  max-width: 100%;
  margin-top: 40px;
}

.multiForm .loginButton {
  margin-top: 20px;
}

.multiForm .loginButton {
  margin: 0 auto;
  margin-right: 0;
  width: 133px;
  height: 52px;
}

#msform .fieldsetTwo {
  padding: 40px 30px;
}

.manageTickets {
  background: #e9e9e9;
  padding: 50px 50px;
  margin-top: 50px;
  border-radius: 11px;
}

.manageTickets .tickets {
  background: #fff;
  padding: 20px 15px;
  color: #000;
  min-height: 135px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.manageTickets .tickets h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.manageTickets .tickets h3::after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #a9eecc;
}

.manageTickets .tickets p {
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

.manageTickets #gallery {
  border-radius: 6px;
  min-height: 135px;
  margin-top: 0;
}

.tickets .arrowTwo {
  transform: rotate(180deg);
}

.ticketRight {
  display: flex;
  gap: 15px;
}

.ticketArrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95px;
  height: 100%;
}

.ticketDetails {
  border: 1px solid #bfbfbf;
  padding: 30px;
  margin-top: 50px;
  border-radius: 11px;
  margin-bottom: 100px;
}

.ticketDetails #ticketInput {
  margin-bottom: 0;
}

.ticketDetails .eventFields {
  gap: 10px;
  margin-bottom: 9px;
}

.ticketDetails .eventLables {
  width: unset;
}

.ticketDetails .status {
  width: 100%;
  max-width: 120px;
}

.ticketDetails .datetime {
  margin-top: 10px;
}

.tabSection ul li.bg {
  transform: translatex(-200%);
}

.paidFree {
  display: flex;
  gap: 5px;
}

.ticketDetails .onlineVenue #content > div {
  padding: 0;
  margin-top: 0px;
  height: 120px;
}

.absorbFees h4 {
  font-size: 24px;
  font-weight: 600;
  color: #aeabff;
}

.absorbFees .switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.absorbFees .switch input {
  display: none;
}

.absorbFees .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b7b7b7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.absorbFees .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.absorbFees input:checked + .slider {
  background-color: #7357ff;
  box-shadow: 0 0px 10px 0 #cfc8e8;
}

.absorbFees input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.absorbFees input:checked + .slider:before {
  transform: translateX(12px);
}

/* Rounded sliders */
.absorbFees .slider.round {
  border-radius: 34px;
}

.absorbFees .slider.round:before {
  border-radius: 50%;
}

.absorbFees {
  display: flex;
  justify-content: space-between;
}

.toggleBtn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggleBtn p {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
}

.ticketBtns {
  display: flex;
}

.ticketBtns .loginButton {
  width: 100%;
  margin-top: 60px;
}

.fieldsetTwo .loginButton {
  width: 180px;
}

.upcomingEvents {
  background: #fff;
  padding: 30px 0;
  border: 1px solid #d8d8d8;
  border-radius: 32px;
  /* padding-bottom: 15px; */
  /* margin-bottom: 20px; */
}

.upcomingEvents.row-two {
  padding-bottom: 60px;
}

.upcomingEvents .upcomingDiv {
  padding: 0 50px;
}

.upcomingEvents .swiper-button-prev:after,
.upcomingEvents .swiper-button-next:after {
  opacity: 0;
}

.upcomingEvents .swiper-button-next {
  background: url(../../../assets/images/sliderArrow.svg);
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  right: -14px;
  background-position-y: bottom;
}

.upcomingEvents .swiper-button-prev {
  background: url(../../../assets/images/sliderArrow.svg);
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  left: -14px;
}

.upcomingDiv {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.upcomingDiv .loginButton {
  margin-top: 0;
  width: 261px;
  height: 45px;
}

.upcomingDiv h2 {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.emptyContent .loginButton {
  margin: 0 auto;
  margin-top: 20px;
}

.emptyContent {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.emptyContent h2 {
  font-size: 36px;
  color: #aeabff;
  font-family: var(--secondary-font);
  margin-top: 30px;
}

.emptyContent p {
  font-size: 18px;
  color: #504f8c;
  font-weight: 500;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.likedEvents {
  display: flex;
  column-gap: 20px;
  margin-top: 20px;
}

.likedEvents .upcomingEvents {
  width: 100%;
  max-width: calc(50% - 10px);
}

.bgGlobalBtn.borderGlobalBtn.qrBtn {
  margin-left: 0;
  height: 49px;
}

.secondTables.oneColumnTable .tablesGrid {
  display: block;
  width: calc(60% - 38px);
}

.multiForm .fieldlabels {
  color: #bbbbbb;
}

.ticket-popup #content > div {
  align-items: flex-start;
}

@media (max-width: 1600px) {
  .hostSection {
    margin-right: 40px;
  }

  .secondTables {
    margin-top: 15px;
  }

  .edit-host-profile-tab .hostSection {
    margin: 0;
  }

  .dataTables {
    padding-left: 0;
    padding-right: 20px;
  }

  .secondActionsDiv {
    max-width: 400px;
  }

  .tablesGrid,
  .promotersMain,
  .secondActionsDiv {
    gap: 15px;
  }

  .actionDiv,
  .earningsDiv,
  .ticketOrders {
    border: 1px solid #d8d8d8;
  }

  .ticketOrders .ticketOrders {
    border: none;
  }

  .earningMain {
    row-gap: 15px;
  }

  /* .dataTables h2 {
    font-size: 22px;
  } */
  .dataTables .searchBar {
    flex-wrap: wrap;
  }

  .ticketOrders {
    max-width: 100%;
  }

  .secondTables.oneColumnTable .tablesGrid {
    max-width: 100%;
    width: calc(100% - 419px);
  }
}

@media (max-width: 1400px) {
  .dataTables {
    padding-right: 30px;
    gap: 20px;
  }
  .secondActionsDiv {
    max-width: 100%;
  }
  .earningMain {
    flex-wrap: wrap;
    gap: 30px;
  }
  #msform .fieldsetOne,
  #msform .fieldsetTwo {
    padding: 40px 40px;
    padding-bottom: 100px;
  }

  #msform .fieldsetTwo {
    padding-bottom: 60px;
  }

  .tablesGrid,
  .secondActionsDiv {
    flex-wrap: wrap;
    row-gap: 38px;
  }

  .likedEvents .upcomingEvents {
    max-width: 100%;
  }
  .likedEvents {
    flex-wrap: wrap;
  }

  .secondTables.oneColumnTable .tablesGrid {
    width: 100%;
  }

  .secondTables {
    margin-top: 38px;
  }
}
@media (max-width: 1280px) {
  .promotersMain {
    flex-wrap: wrap;
  }

  .manageTickets {
    padding: 50px 20px;
  }

  .absorbFees h4 {
    font-size: 16px;
    margin: 0;
  }

  .ticketBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .ticketBtns .loginButton {
    width: 120px;
    margin-left: 0;
  }

  .ticketBtns .loginButton span {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .absorbFees h4 {
    font-size: 24px;
    margin: 0;
  }

  .ticketBtns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .ticketBtns .loginButton {
    width: 150px;
    margin-left: 0;
  }

  .ticketBtns .loginButton span {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .tabSection {
    padding: 30px;
  }
  .tabSection ul li label {
    padding: 7px 7px;
  }
  .tabSection {
    margin-top: 40px;
  }
  .hostSection .twoFields {
    flex-wrap: wrap;
  }
  .lefFields {
    width: 100%;
    max-width: 100%;
  }
  .dataTables {
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .manageTickets {
    padding: 50px 40px;
  }

  .edit-host-profile-tab .inputTextarea {
    margin-top: 13px;
  }
}

@media (max-width: 768px) {
  .dataTables {
    padding-right: 0px;
  }
  .tabSection {
    margin-top: 40px;
    margin-right: 0;
  }
  #content > div {
    padding: 5px;
  }
  .loginButton {
    margin-top: 40px;
  }
  .twoFields {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
  }
  .hostSection {
    margin-right: 0px;
  }
  .ticketBtns {
    gap: 10px;
  }
  .paidFree {
    gap: 5px;
    flex-wrap: wrap;
  }
  .ticketDetails .onlineVenue #content > div {
    height: 100%;
  }
  .ticketDetails .eventLables {
    width: 100%;
  }

  .manageTickets {
    padding: 50px 20px;
  }
}

@media (max-width: 576px) {
  .twoFields {
    grid-template-columns: auto;
    margin-top: 20px;
  }
  .left {
    width: 100%;
  }
  .inputFields {
    margin-top: 10px;
  }
  .tabSection ul {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
  }
  #button-1:checked ~ ul li.tab-1-li {
    background-color: #fff;
  }
  #button-2:checked ~ ul li.tab-2-li {
    background-color: #fff;
  }
  #button-3:checked ~ ul li.tab-3-li {
    background-color: #fff;
  }
  #button-4:checked ~ ul li.tab-4-li {
    background-color: #fff;
  }
  .tabSection ul li {
    border-radius: 10px;
  }
  .tabSection ul li label {
    font-size: 16px;
  }
  .baseImg {
    width: 90px;
    height: 90px;
  }
  .tabSection {
    padding: 30px 20px;
  }
  .hostSection {
    padding: 30px 20px;
  }
  .tabs h2 {
    font-size: 26px;
  }
  .singleEventBtn {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .cardDescription p {
    font-size: 19px;
    gap: 10px;
  }
  .singleEvent {
    padding: 0 20px;
    padding-top: 60px;
    padding-bottom: 20px;
    border-radius: 20px;
  }
  .singleEventHeader {
    flex-wrap: wrap;
    gap: 10px;
  }
  .ticketOrders {
    padding: 17px 20px;
    border-radius: 20px;
  }
  .dataTables h2 {
    font-size: 22px;
  }
  .dataTables .loginButton {
    width: 170px;
    height: 41px;
  }
  .dataTables .loginButton span {
    font-size: 16px;
  }

  .dataTables .marketingGrid .loginButton {
    width: unset;
    padding: 4px 20px;
  }
  .tableContent {
    font-size: 16px;
    line-height: 130%;
  }
  .eventFields {
    gap: 0;
    flex-wrap: wrap;
  }
  .datetime {
    gap: 0;
    flex-wrap: wrap;
  }
  #msform input,
  #msform textarea,
  #msform select {
    margin-bottom: 10px;
  }
  li#empty {
    flex-wrap: wrap;
  }
  #empty span {
    text-align: center;
  }
  #msform .fieldsetOne {
    padding: 30px 20px;
    padding-bottom: 100px;
  }
  .tabs .progressCard {
    padding: 0;
  }
  #progressbar li {
    width: 50%;
  }
  .absorbFees {
    flex-wrap: wrap;
    gap: 10px;
  }
  .manageTickets {
    padding: 30px 20px;
    margin-top: 23px;
  }
  .ticketDetails {
    padding: 20px;
  }
  #msform .fieldsetTwo {
    padding: 40px 20px;
  }
  .earningsDiv {
    padding: 20px 20px;
  }
}

@media (max-width: 480px) {
  .absorbFees h4 {
    font-size: 16px;
    margin: 0;
  }

  .ticketBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .ticketBtns .loginButton {
    width: 120px;
    margin-left: 0;
    margin-top: 20px;
  }

  .ticketBtns .loginButton span {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .tabSection ul li {
    width: 100%;
  }
  .cardDescription p {
    font-size: 16px;
    gap: 5px;
  }
  .descriptionImg {
    width: 20px;
    height: 20px;
  }
  .ticketBtns {
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .ticketBtns .loginButton {
    width: 100%;
    margin-top: 0;
  }
}

/* Masab Styles */

.upcomingDiv.skeleton {
  justify-content: space-between;
}

.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.your-events-table {
  font-family: var(--primary-font);
}

.events-main-table .your-events-table th:nth-child(4) {
  text-align: center;
}

.your-events-table td:nth-child(3) {
  font-size: 12px;
}

.your-events-table td {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
}

table.your-events-table th {
  color: #8d8a95;
  font-size: 12px;
  font-weight: 600;
}

.your-events-table td .published {
  width: 69px;
  background: #e2fcf0;
  text-align: center;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.your-events-table td .published p {
  font-size: 12px;
  font-family: outfit;
  color: #0a9c55;
  margin: 0;
}

.your-events-table td .draft {
  width: 47px;
  text-align: center;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #dddbff;
  font-weight: 600;
}

.your-events-table td .draft p {
  font-size: 12px;
  font-family: outfit;
  color: #5b59ff;
  color: var(--linear-gradient-border);
  background: var(--linear-gradient-border);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin: 0;
}

#content > div.edit-host-profile-tab {
  display: block;
}

.progress-bar-container-ticket {
  width: 125px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.progress-bar-ticket {
  height: 100%;
  background-color: #ddf7e4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  position: relative;
}

.half-tickets-sold .progress-bar-ticket {
  background-color: #ffc3ce;
}

.progress-text {
  color: #0a9c55;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.half-tickets-sold .progress-text {
  color: #f48787;
}

.actionsColumn button {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid transparent;
  background: transparent;
  margin: 0 !important;
}

.actionsColumn button img {
  width: 20px;
}

.dataTables .pagination .pagination-btns {
  display: flex;
  gap: 5px;
  outline: none;
  border: none;
}

.dataTables .pagination-btns button {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  background: transparent;
  color: #4f4b5c;
  font-weight: 600;
  cursor: pointer;
}

.dataTables .pagination-btns button:hover,
.dataTables .pagination-btns button.active {
  background: #7357ff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 8px;
}

.dataTables .pagination-btns button.control-btn {
  background: #fff;
  border: 2px solid #ececed;
  color: #4f4b5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataTables .pagination-btns button.control-btn {
  background: #fff;
  border: 2px solid #ececed;
  color: #4f4b5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataTables .pagination .item-show-per-page {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.dataTables .pagination .item-show-per-page select {
  width: 80px;
  background-image: url(../../../assets/images/pagination-arrow-select.svg);
  background-position: 85%;
  background-repeat: no-repeat;
  background-size: 12px;
  border: 2px solid #ececed;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.multistep-button-wrap {
  display: flex;
  gap: 10px;
  max-width: 330px;
  float: right;
  margin-top: 10px;
}

.fieldsetTwo .multistep-button-wrap {
  margin-top: -40px;
}

.create-event-form-header {
  display: flex;
  gap: 20px;
}

.create-event-form-header .eventLables.status {
  max-width: 130px;
}

#msform .event-ticket-three-field-grid input {
  margin-bottom: 0;
}

.event-ticket-three-field-grid {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.event-ticket-three-field-grid label {
  font-size: 12px;
}

.popupInput,
.popupInputTextarea {
  height: 46px;
  width: 100%;
  max-width: 363px;
  padding: 0 14px;
  color: #8897ae;
  font-size: 16px;
  border: 1px solid #afbaca;
  border-radius: 6px;
  outline: none;
}

.popupInputTextarea {
  height: 90%;
  max-height: 178px;
  overflow-y: scroll;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 0;
  min-width: 280px;
}

.create-compaign-form .popupInputTextarea {
  min-width: unset;
}

.send-tickets-modal-form {
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 20px;
}

.popupInputTextarea option {
  color: #000;
  height: 35px;
}

.popupInputTextarea label {
  font-size: 17px;
  height: 25px;
  overflow: hidden;
}

.popupInputTextarea::-webkit-scrollbar-track,
.send-tickets-modal-form::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.popupInputTextarea::-webkit-scrollbar,
.send-tickets-modal-form::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  float: right;
}

.popupInputTextarea::-webkit-scrollbar-thumb,
.send-tickets-modal-form::-webkit-scrollbar-thumb {
  background-color: #7e79ff;
  border: 5px solid #7e79ff;
}

.ticket-chekcboxes-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 5px;
}

.ticket-chekcboxes-grid input {
  padding: 0 5px;
}

.ticket-chekcboxes-grid input::placeholder {
  font-size: 14px;
}

.discount-grid-column > h2 {
  font-size: 26px;
}

.discount-grid-column.second-column .label-with-button {
  margin-top: 4px;
}

.multiple-events-discount-label {
  font-size: 12px;
  color: #bbbbbb;
}

input[type="checkbox"].myCustomMultiSelectCheckboxes,
#msform input[type="checkbox"].myCustomMultiSelectCheckboxes {
  display: inline-block;
  position: relative;
  border: 2px solid #7357ff;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 18px;
  width: 18px;
  min-height: 18px;
  min-width: 18px;
  -webkit-appearance: none;
  opacity: 0.5;
}

input[type="checkbox"].myCustomMultiSelectCheckboxes:before,
#msform input[type="checkbox"].myCustomMultiSelectCheckboxes:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

input[type="checkbox"].myCustomMultiSelectCheckboxes:checked,
#msform input[type="checkbox"].myCustomMultiSelectCheckboxes:checked {
  background-color: #7357ff;
  box-shadow: 0 0px 4px 0 #7357ff;
  opacity: 1;
}

#msform .popupInputTextarea {
  max-width: 100%;
  max-height: 176px;
}

/* Hide the default file input */
.ReactModalPortal .file-input {
  display: none;
}

/* Custom file input label styles */
.ReactModalPortal .custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #7357ff;
  color: white;
  border-radius: 5px;
  text-align: center;
  border-radius: 50px;
  margin-right: 5px;
}

.ReactModalPortal .custom-file-upload:hover {
  background-color: #5a45cc;
}

.label-with-button {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  align-items: center;
  margin-top: 10px;
}

.ReactModalPortal p {
  margin: 0;
}

.ReactModalPortal .popup-buttons {
  float: right;
  display: flex;
  column-gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 10px;
  justify-content: space-around;
}

.discount-grid-popup {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

/* tickets modal */

.tabSection.ticket-popup {
  border: 0;
  padding: 15px;
  margin-right: 0;
  padding-right: 0;
}

.tabSection.ticket-popup #tabs {
  margin-top: 0;
}

.tabSection.ticket-popup ul {
  list-style: none;
  padding: 4px;
  display: flex;
  background-color: #ececed;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.tabSection.ticket-popup ul li {
  width: 100%;
}

.ticket-popup #button-1:checked ~ ul li.tab-1-li {
  background-color: #fff;
  border-radius: 10px;
}

.ticket-popup #button-2:checked ~ ul li.tab-2-li {
  background-color: #fff;
  border-radius: 10px;
}

.ticket-popup #button-2:checked ~ #shadow #content {
  transform: translatex(-50%);
}

.swiper-wrapper .bgGlobalBtn.borderGlobalBtn {
  margin-left: 0;
  width: 100%;
  cursor: pointer;
}

.CardElement .InputContainer .InputElement {
  border: 1px solid #c8c8c8;
  color: #4f4b5c;
  font-size: 24px;
  padding: 18px 22px;
  outline: none;
  border-radius: 8px;
}

@media screen and (max-width: 1100px) {
  .actionsColumn button {
    width: 30px;
    height: 20px;
  }

  .actionsColumn button img {
    width: 18px;
  }
}

@media screen and (max-width: 992px) {
  .dataTables table {
    width: 700px;
  }

  .dashboard {
    padding-left: 250px;
  }

  .dataTables .pagination {
    justify-content: center;
    flex-wrap: wrap;
  }

  .tabSection.ticket-popup {
    margin-top: 0;
  }

  .tabSection.ticket-popup #content > div {
    align-items: flex-start;
  }

  .edit-host-profile-tab .inputTextarea textarea {
    height: 120px;
  }
}

@media screen and (max-width: 768px) {
  .ticket-modal .global_button_one {
    width: 170px;
  }

  .popupInputTextarea {
    padding-left: 15px;
    max-width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .tabSection.ticket-popup ul {
    flex-wrap: nowrap;
  }

  .ticket-modal .global_button_one {
    width: 170px;
    margin-left: 0;
  }

  .create-compaign-form .eventFields {
    gap: 10px;
  }

  .discount-grid-popup {
    flex-wrap: wrap;
  }

  .discount-grid-column,
  .label-with-button,
  .popupInput,
  .popupInputTextarea {
    min-width: 100%;
  }

  .popup-buttons .loginButton {
    max-width: 120px;
    height: 40px;
  }

  .popup-buttons .loginButton span {
    font-size: 14px;
  }

  .ReactModalPortal .popup-buttons {
    column-gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .tabSection.ticket-popup {
    padding-left: 10px;
  }
  .earningMain {
    gap: 10px;
  }
  #msform .action-button {
    font-size: 14px;
    width: 140px;
  }

  #msform .action-button:nth-child(2) {
    width: 100px;
  }
}

@media screen and (max-width: 350px) {
  .header_div.checkout {
    padding: 0 10px;
  }
}
