.eventCard {
  max-width: 516px;
  box-shadow: 0 0px 10px 0 #9b9ac573;
  border-radius: 18px;
  overflow: hidden;
  background: #f9f9f9;
  position: relative;
  padding-bottom: 20px;
  width: 100%;
}

.eventCard h2 {
  font-family: var(--primary-font);
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  color: #242424;
  margin: 0;
  overflow: hidden;
  text-overflow: clip;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.eventCardImage {
  position: relative;
}

.eventImg {
  width: 100%;
  object-fit: cover;
  font-size: 32px;
  line-height: 36px;
  min-height: 200px;
  max-height: 200px;
}

.eventCategoryButton {
  position: absolute;
  background-color: #aeabff;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 30px;
  padding: 3px 24px;
  left: 25px;
  bottom: 20px;
}

.dateRemainingDaysDiv {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
}

.remainingDaysBtn {
  background-color: #f0677f;
  display: inline-block;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 30px;
  padding: 3px 12px;
  margin-left: 5px;
}

.eventCardDetails {
  padding: 18px 20px;
  text-align: left;
}

.eventCardDetails span.time,
.eventCardDetails span.location {
  font-size: 14px;
  font-weight: 500;
}

.eventCardDetails span.time img {
  margin-right: 5px;
  margin-left: 2px;
  width: 22px;
  height: 20px;
}

.eventCardDetails span.location img {
  margin-right: 0px;
  margin-left: 0;
}

.locationDiv {
  margin-top: 10px;
}

.ticketsFindMore {
  display: flex;
  position: absolute;
  bottom: 23px;
  width: 87%;
}

/* for attendee events styles */

.mySwiper {
  width: 100%;
  height: 100%;
  padding: 20px 42px;
}

.eventSlide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: auto;
}

.swiper-wrapper {
  padding: 0 14px;
}

.upcomingEventCard {
  padding-bottom: 55px;
}

@media (max-width: 1300px) {
  .eventCard {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .eventCard {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .eventCard h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .eventImg {
    min-height: 200px;
  }

  .eventCardDetails {
    padding: 20px 15px;
  }

  .ticketsFindMore {
    margin-top: 10px;
  }

  .eventCardDetails span.time img {
    width: 19px;
    margin-right: 3px;
    margin-left: 1px;
  }

  .remainingDaysBtn {
    background-color: #f0677f;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    border-radius: 30px;
    padding: 2px 10px;
    margin-left: 15px;
  }

  .eventCardDetails span.location img {
    margin-right: 0px;
    margin-left: 0;
    width: 22px;
  }

  .locationDiv {
    margin-top: 5px;
  }

  .eventCategoryButton {
    left: 15px;
  }

  .mySwiper {
    width: 100%;
    height: 100%;
    padding: 20px 30px;
  }

  .remainingDaysBtn {
    font-size: 10px;
    font-weight: 400;
    padding: 3px 8px;
  }
}

@media (max-width: 400px) {
  .eventCardDetails {
    padding: 20px 10px;
  }

  .eventImg {
    min-height: 160px;
  }

  .remainingDaysBtn {
    margin-left: 3px;
  }
}

/* ticket modal slider */

.modalWrapper {
  font-family: var(--primary-font);
  text-align: center;
  background-color: #f8f9fa;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  visibility: hidden;
}

/* Styles for the modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px 60px;
  border-radius: 8px;
  outline: none;
  width: 95%;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000069;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 20px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  right: 25px;
  top: 22px;
  cursor: pointer;
}

.sliderInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.slideCounter {
  margin: 0 20px;
  font-size: 28px;
  font-weight: 500;
}

.slideButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.popupArrowImg {
  width: 20px;
}

.modalContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.ticketInfo {
  text-align: left;
}

.qrCode {
  display: flex;
  flex-direction: column;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 250px;
  margin-top: 30px;
}

.closeModalButton {
  margin-top: 20px;
}

.ticketTitle {
  font-size: 40px;
  font-weight: 800;
  color: #242424;
}

.titleWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.ticketTitle {
  margin: 0;
}

.eventDetailsList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.iconImg {
  max-width: 23px;
}

.infoWrapper {
  margin-top: 20px;
}

.listParagraph {
  font-size: 20px;
}

.detailLink {
  color: var(--purple-normal);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 700;
  min-width: 123px;
}

.qrCodeImgCanva {
  width: 100% !important;
  height: 100% !important;
  max-width: 250px;
  max-height: 250px;
}

.shareBtn {
  background-color: transparent;
  border: none;
  outline: none;
}

.shareBtn:hover {
  opacity: 0.7;
}

.paymentSection {
  margin-top: 30px;
}

.paymentHeading {
  font-size: 20px;
  font-weight: 500;
}

.orderNumber {
  font-size: 16px;
  color: #afafaf;
}

.paymentDone {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.paymentDoneText {
  font-size: 16px;
  color: #49c179;
}

/* for refund modal */
.openModalBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modalRefund {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContentRefund {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
  border-radius: 10px;
}

.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.formGroup button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.formGroup textarea {
  padding-top: 10px;
  min-height: 100px;
}

.labelDescription {
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 992px) {
  .modal {
    padding: 30px;
  }

  .qrCodeImgCanva {
    width: 100% !important;
    height: 100% !important;
    max-width: 200px;
    max-height: 200px;
  }

  .modalActions {
    max-width: unset;
    justify-content: flex-start;
    gap: 10px;
  }
}

@media (max-width: 850px) {
  .modalContent {
    display: block;
  }

  .qrCode {
    margin-top: 30px;
  }

  .modal {
    max-width: 600px;
    border-radius: 20px;
  }

  .modalContent {
    height: 60vh;
    overflow-y: scroll;
  }

  .modalContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .modalContent::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    float: right;
  }

  .modalContent::-webkit-scrollbar-thumb {
    background-color: #7e79ff;
    border: 5px solid #7e79ff;
  }

  .eventDetailsList {
    flex-wrap: wrap;
  }

  .closeIcon {
    right: 13px;
    top: 25px;
    width: 22px;
  }
}

@media (max-width: 480px) {
  .modal {
    padding: 20px 10px;
    padding-left: 20px;
  }

  .listParagraph {
    font-size: 16px;
  }

  .ticketTitle {
    font-size: 32px;
  }

  .slideCounter {
    margin: 0px 7px;
    font-size: 20px;
    font-weight: 500;
  }
}
