.logoutBtn {
  margin: 0 auto;
  display: block;
}

.sidebar {
  width: 280px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 1000; /* Ensure sidebar appears above other content */
  padding: 40px 60px;
  padding-right: 0;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 100%;
  max-width: 236px;
}

.links {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

.links li {
  margin-bottom: 30px;
}

.links li a {
  color: #c5c5ff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  transition: 0.5s;
}

.links li a::after {
  content: "";
  position: absolute;
  height: 45px;
  width: 13px;
  color: #827dff;
  background-color: #a6a5ff;
  left: -20px;
  transition: 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.links li a:hover {
  color: #827dff;
}

.links li a:hover::after {
  left: 0;
}

.links li a:active::after {
  left: 0;
}

.links li a:active {
  color: #827dff;
}

.links li a:focus {
  color: #827dff;
}

.links li a:focus::after {
  left: 0;
}


.sublinks {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: none;
  padding-left: 30px;
}

.sublinks.showSublinks {
  display: block;
}

.sublinks li {
  margin-bottom: 5px;
}

.sublinks li a {
  color: #c5c5ff;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.showMenu .hamburger {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
}

.closeBtn {
  display: none;
}

@media (max-width: 1600px) {
  .sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    z-index: 1000; /* Ensure sidebar appears above other content */
    padding: 40px 30px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    background: #7e79ff;
  }

  .showMenu .links {
    display: block;
  }

  .showMenu .sublinks {
    display: block;
    padding-left: 10px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  /* .links li a:hover {
    color: #fff;
  } */
  .line {
    margin: 2px 0;
  }
  .links li {
    margin-bottom: 15px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Initially hidden off-screen */
    width: 300px;
    height: 100vh;
    background-color: #ffffffd9;
    backdrop-filter: blur(16px);
    transition: left 0.3s cubic-bezier(0.41, 0.9, 0.22, 1.27);
    box-shadow: 0 0px 10px 0 #9b9ac573;
  }

  .sidebar.active,
  .sidebar.toggleActive {
    left: 0; /* Slide into view */
  }

  .sidebar.active,
  .sidebar.toggleActive {
    left: 0; /* Slide into view */
  }

  /* Show hamburger icon */
  .sidebar:not(.active) .hamburger {
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 45px;
    left: 40px; /* Initially hidden */
  }

  .hamburger .line {
    background-color: #000;
  }

  .closeBtn {
    font-size: 46px;
    display: block;
    height: 0;
    position: absolute;
    border: none;
    top: -9px;
    right: 9px;
    color: #827dff;
  }
}

@media (max-width: 576px) {
  .hamburger {
    top: 42px;
    left: 30px;
  }
  .sidebar {
    left: -300px;
    width: 250px;
  }
  .links li a {
    font-size: 22px;
  }
}
