.aboutMain .cardContainer {
  padding: 0 30px;
  width: 100%;
  max-width: 1760px;
  margin: 0 auto;
}

.aboutMain .headerBlog {
  max-width: 100%;
}

.mainBlog {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin-top: 40px;
  text-align: left;
}

.blogCards {
  width: 100%;
  /* max-width: 450px; */
  box-shadow: 0px 0px 10px 5px rgba(155, 154, 197, 0.15);
  border-radius: 18px;
  overflow: hidden;
}

.blogCards a {
  color: #000;
}

.blogCards img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.blogCards h2 {
  font-size: 24px;
  font-weight: 700;
  color: #242424;
  margin-bottom: 20px;
}

.blogCards .blogCalnder {
  width: 18px;
  height: 18px;
  border-radius: 0;
}

.blogInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.blogInfo p {
  margin: 0;
  line-height: normal;
  font-size: 14px;
  font-weight: 600;
  color: #242424;
}

.cardBody {
  padding: 30px 20px;
  background-color: #fff;
  padding-bottom: 40px;
}

@media (max-width: 1366px) {
  .blogCards img {
    height: 200px;
  }

  .mainBlog {
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .mainBlog {
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .blogCards img {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .mainBlog {
    display: block;
  }

  .blogCards {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .blogCards img {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .aboutMain .cardContainer {
    padding: 0;
  }

  .blogCards img {
    height: 180px;
  }
}
